<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Lyrics</h4>
            </div>
            <div class="modal-body">
                <pre>{{lyrics}}</pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="close()" data-dismiss="modal" aria-hidden="true">
                    Nice!
                </button>
            </div>
        </div>
    </div>
</div>
