<div class="col-md-12">
  <div class="seekBase" seek-track>
    <div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
  </div>
</div>
<table class="table table-hover" play-all="songs">
 <tbody>
   <tr ng-repeat="song in songs" play-from-playlist="song" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" ng-class="{'current-song': currentPlaying.id == song.id}">
     <td class="col-md-5">{{song.artist}}</td>
     <td class="col-md-5">{{song.title}}</td>
     <td><span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="edit(song); $event.stopPropagation()" ng-show="hoverEdit"></span></td>
   </tr>
 </tbody>
</table>
